.footer_wrapper {
    background-color: #444d5d;
    color: white;
    align-items: center;
    height: 10rem;
    grid-template-columns: 1fr 1fr;
    overflow: auto;
    padding: 1rem .25rem;
}

.social,
.notice,
.social_links,
.social_tag {
    flex-direction: column;
    padding: .2em;
    line-height: 1.5em;
    margin: 0 .5rem
}

.social,
.notice {
    background: #00000050;
    border-radius: 0.25rem;
    height: 100%;
}

.social_links span:nth-child(even) {
    display: none;
}

.social_tag,
.notice span:first-child {
    color: #ff814f;
}