*,
body,
h1,
.main_wrapper {
  margin: 0;
  padding: 0;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.grid {
  display: grid;
}

.center {
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2em;
}

main.main_wrapper,
.main_wrapper {
  margin-top: 4.5rem;
}