.process {
    background-color: #dfe3e9;
    text-align: center;
    padding: 1.5rem 0;
}

.process_body {
    flex-direction: column;
}

.process_title {
    margin: 1rem 0 1.5rem 0;
}

@media screen and (min-width: 850px) {
    .process_container {
        grid-template-columns: 1fr 1fr 1fr;
    }

}