.hero_body {
    background: #444d5d;
}

.hero_body,
.hero_caption_box {
    flex-direction: column;
    padding: 1.2em;
    color: white;
}

.hero_img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.hero_caption_title {
    font-size: 2em;
}

.hero_caption_box {
    background-color: #ff814f;
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
}

.hero_caption_subtitle {
    font-weight: bold;
    height: auto;
    align-items: center;
    color: white;
    margin-top: .5rem;
}

.hero_caption_subtitle span {
    margin-top: 1rem;
    font-size: 3rem;
}

.hero_caption_subtitle span:first-child,
.hero_caption_subtitle span:last-child {
    padding: .5rem;
    background: #fff;
    color: #444d5d;
}

.hero_caption_subtitle span:nth-child(2) {
    padding: .5rem;
    background: #444d5d;
}

.hero_caption_subtitle span:first-child {
    margin-left: .5rem;
    padding: .5rem;
    border-radius: .5rem 0 0 .5rem;
}

.hero_caption_subtitle span:last-child {
    padding: .5rem;
    border-radius: 0 .5rem .5rem 0;
}

@media screen and (min-width: 600px) {
    .hero_body {
        flex-direction: row-reverse;
        width: 100%;
        height: 40rem;
        padding: 1rem;
        align-items: center;
        position: relative;
        box-sizing: border-box;
    }

    .hero_caption_subtitle {
        position: absolute;
        top: 50%;
        /* left: 50%; */
        transform: translate(25%, 55%);
        z-index: 10;
        border-radius: 1rem;
    }

    .hero_caption_subtitle span,
    .hero_caption_subtitle span:first-child,
    .hero_caption_subtitle span:last-child,
    .hero_caption_subtitle span:nth-child(2) {
        line-height: 2.25rem;
        padding: 1rem;
        margin: 0;
        margin-left: 0;
    }

    .hero_img {
        flex: 2;
        max-width: 75%;
        max-height: 100%;
        border-radius: 1rem;
        box-sizing: border-box;
        position: relative;
        object-fit: cover;
        object-position: top;
    }

    .hero_caption_box {
        flex: 1 1;
        border-radius: 1rem;
        color: white;
        margin-left: 0;
        min-width: 45%;
        min-height: 25%;
        box-sizing: border-box;
        padding: 2rem;
        position: absolute;
        transform: translate(-30%, 10%);
        overflow: visible;
    }
}