.header_wrapper {
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: .15rem solid #ff814f;
  position: fixed;
  width: 100vw;
  z-index: 5000;
}

.header_title {
  padding: 0.2rem;
  font-size: 1.5rem;
}

.header_logo {

  margin-left: 1rem;
}

.closeIcon,
.MenuIcon {
  border: none;
  background: transparent;
  padding: 1rem;
  align-items: center;
}

.MenuIcon {
  margin-right: 1rem;
}

.closeIcon {
  filter: invert(1);
}

@media screen and (min-width: 600px) {
  .header_wrapper {
    padding: 0 5rem;
  }
}